@charset "UTF-8";

section#login{
    display: flex ;
    flex-direction: row-reverse;
    height: 60vh;
}

#imagem > img{
    height: 60vh;
    width: 30vw;
    border-radius: 0px 20px 20px 0px;
}

#formulario > p,h1{
    font-size: 1.3em;
}

