@charset "UTF-8";

section#login{
    display: flex ;
    flex-direction: row-reverse;
    height: 60vh;

}

div#imagem{
    height: 60vh;
    width: 800px;
}
div#formulario{
    padding: 30px;
}

#formulario > p,h1{
    font-size: 1.3em;
}

