@charset "UTF-8";

section#login{
    display: flex;
    height: 320px;
    width: 70vw;
    border-radius: 0px;
}

#imagem > img{
    height: 320px;
    border-radius: 0px;
}

#formulario{
    padding: 10px;
   
}

input{
    width: 100%;
}

