@charset "UTF-8";

section#login{
    display: flex;
    height: 320px;
    width: 70vw;
    
}

div#imagem{
 height: 320px;
 width: 400px;
}

#formulario{
    padding: 10px;
   
}

input{
    width: 100%;
}

