@charset "UTF_8";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html {
    background-image: linear-gradient(to right bottom, #1c0537, #3f1163, #691991, #9a1bbe, #d112eb);
    background-repeat: no-repeat;
    height: 100vh;
   width: 100vw;
   
}
main{
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

section#login{
    background-color: white;
    width: 350px;
    height: 720px; border-radius: 25px  ;
   
}

#imagem > img{
    width:350px;
    height: 300px;
    border-radius: 25px 25px 0px 0px;
    margin-bottom: 10px;
}

#formulario > h1{
    font-size: 1.8em;
    font-weight: bolder;
    text-align: center;
}

#formulario > p{
    text-align: justify;
    padding: 10px;
}

input{
    margin: auto;
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    width: 40vw;
    border: 2px solid black;
}
input{
    font-size: 1.1em;
}

input#senha{
    font-size: 1em;
}

input#entrar:hover{
    background-color: #9a1bbe;
    color: white;
   border: 2px solid white;
}

input#reset:hover{
    background-color: #9a1bbe;
    color: white;
   border: 2px solid white;
}

