@charset "UTF-8";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to right bottom, #1c0537, #3f1163, #691991, #9a1bbe, #d112eb);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
   
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

   
   
}

section#login{
    background-color: white;
    width: 250px;
    height:510px; 
    border-radius: 25px  ;
    overflow: hidden;

    transition: width.3s, height .3s;
    transition-timing-function: ease;
}

#imagem {
    background: #1c0537 url(../imagem/pexels-victor-dubugras-1479988588-28056007\ \(1\).jpg )no-repeat;
    background-size: cover;
    background-position: center center;
    width:250px;
    height: 200px;
}
div#formulario{
    padding: 10px;
}
#formulario > h1{
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

#formulario > p{
    text-align: justify;
    padding: 10px;
    font-size: 12px;
}


input{
    margin: auto;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border: 2px solid black;
}
input{
    font-size: 1.1em;
}

label{
    display: none;
}



input#entrar:hover{
    background-color: #9a1bbe;
    color: white;
   border: 2px solid white;
}

input#reset:hover{
    background-color: #9a1bbe;
    color: white;
   border: 2px solid white;
}

div.campo{
    background-color: #3f1163;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}

span {
    padding: 5px;
    color: white;
}



